<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="oe_slogan oe_picture"><img src="icon.png" alt="" style="width: 96px;"></div>

            <h2 class="oe_slogan">clickPublish: Content Planner</h2>

            <p>clickPublish: Content Planning is an app
                designed to help content creator teams manage their content
                publishing schedule. With clickPublish, you can easily plan,
                organize, and schedule your content for publishing on various
                platforms. With clickPublish, you can create a content calendar
                that allows you to see all your upcoming posts at a glance. You
                can also set deadlines, assign tasks to team members, and
                collaborate on content creation.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Usage</h2>
        </div>

        <div class="oe_span12">
            <p class="oe_mt32">clickPublish: Content Planner has three main views as follows.
                <ul>
                    <li>Calendar view, is the default view.</li>
                    <li>List view, grouped by week.</li>
                    <li>Kanban view, grouped by week.</li>
                </ul>
            </p>

            <div class="oe_span4">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="screenshot-1.png">
                </div>
            </div>

            <div class="oe_span4">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="screenshot-2.png">
                </div>
            </div>

            <div class="oe_span4">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="screenshot-3.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Credits</h2>

            <p>The development of this module is supported by <a href="https://jvm.co.id">
                CV Java Multi Mandiri</a> and carried out by <a href="https://clickoding.id">
                clickoding</a> as a business unit engaged in the software
                development industry.</p>
        </div>

        <div class="oe_span12">
            <h3>Contributors</h3>

            <ul>
                <li>Sunu Haeriadi &lt;<a href="mailto:sunu.haeriadi@jvm.co.id">sunu.haeriadi@jvm.co.id</a>&gt;,
                    CV Java Multi Mandiri</li>
            </ul>
        </div>

        <div class="oe_span12">
            <h3>Maintainer</h3>

            <p>This module is maintained by clickoding.</p>

            <p>clickoding is a software house that develops business solution
                applications for Indonesian business people.</p>

            <p>clickoding is proud to be part of JVM.</p>
        </div>
    </div>
</section>
